@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #10b981;
  --accent-100: #d1fae5;
  --text-900: #111827;
  --text-700: #374151;
  --text-600: #4b5563;
  --bg: #f9fafb;
  --card: #ffffff;
}

body {
  background: var(--bg);
  font-family: "Inter","Poppins","Segoe UI",system-ui,-apple-system,Arial,Helvetica,sans-serif;
  margin: 0;
  color: var(--text-900);
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
